<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head">
        <title>Blogs</title>
    </head>
    <body>
        <header th:replace="layout :: site-header" />
        <h1>Create post</h1>
        <div>
            <form method="post" th:object="${postForm}" th:action="@{/api/posts}" enctype="multipart/form-data">
                <div><label for="file">Image:</label></div>
                <input type="hidden" th:value="*{imageUrl}" id="imageUrl" name="imageUrl" title="Article picture URL">
                <div class="custom-file">
                    <input type="file" id="file" name="file" class="custom-file-input" th:value="*{imageUrl}">
                </div>
                <div><label for="title">Title:</label></div>
                <input id="title" type="text" name="title" th:value="*{title}" required />
                <span class="formError" th:if="${#fields.hasErrors('title')}"
                      th:errors="*{title}">Invalid title</span>
                <div><label for="text" th:value="*{text}">Text:</label></div>
                <textarea class="textarea" id="text" type="text" name="text" th:value="*{text}" placeholder="Maximum 500 characters..." required></textarea>
                <div><label for="tags" th:value="*{tags}">Tags:</label></div>
                <input id="tags" type="tags" name="tags" th:value="*{#strings.listJoin(#messages.listMsg(tags), ',')}" />
                <div><input class="button" type="submit" value="Crete post" /></div>
            </form>
        </div>
        <footer th:replace="layout :: site-footer" />
    </body>
</html>