<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout :: site-head">
        <title th:text="${post.title}">View Post</title>
    </head>
    <body>
        <header th:replace="layout :: site-header" />
        <main id="posts">
            <article>
                <h2 class="title" th:text="${post.title}">Post Title</h2>
                <div class="date">
                    <i>Posted on</i>
                    <span th:text="${#temporals.format(post.published,'dd.MM.yyyy HH:mm:ss')}">22-May-2016</span>
                    <span th:if="${post.authorId}" th:remove="tag">
                <i>by</i>
                <span th:text="${post.authorId}">Roxana Yaneva</span>
                </span>
                </div>
                <div>
                    <a href="#"  data-toggle="modal"
                       th:data-image-url="${'/uploads/' + post.imageUrl}"
                       th:data-image-title="${post.title}">
                        <img class="img-thumbnail" th:if="${post.imageUrl != null}"
                             th:src="${'/uploads/' + post.imageUrl}">
                    </a>
                    <p class="content" th:utext="${post.text}">Post content</p>
                </div>
                <br>
                <div th:each="tag : ${post.tags}">
                    <span class="tag" th:text="${tag}"> </span>
                </div>
            </article>
        </main>
        </div>
        <footer th:replace="layout :: site-footer" />
    </body>
</html>