<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head th:replace="layout :: site-head">
        <title>Register</title>
    </head>
    <body>
        <header th:replace="layout :: site-header" />
        <div th:if="${param.success}">
            <div class="alert alert-info">You've successfully registered! Now you can log in.</div>
        </div>
        <div th:if="${param.error}">
            <div class="alert alert-danger">Invalid data.</div>
        </div>
        <h1 sec:authorize="isAuthenticated()">You are already logged in!</h1>
        <div sec:authorize="!isAuthenticated()">
            <h1>Register in the Blog</h1>
            <form method="post" th:object="${registerForm}" th:action="@{/api/register}">
                <div><label for="file">Image:</label></div>
                <input type="file" name="imageUrl" th:value="*{imageUrl}" id="file">
                <div><label for="email">Email:</label></div>
                <input id="email" type="text" name="email" th:value="*{email}" />
                <span class="formError" th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}">Invalid email</span>
                <div><label for="password" th:value="*{email}">Password:</label></div>
                <input id="password" type="password" name="password" th:value="*{password}" />
                <span class="formError" th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}">Invalid password</span>
                <div><label for="firstName">First name:</label></div>
                <input id="firstName" type="text" name="firstName" th:value="*{firstName}" />
                <div><label for="lastName">Last name:</label></div>
                <input id="lastName" type="text" name="lastName" th:value="*{lastName}" />
                <div><input class="button" type="submit" value="Register"/>
                    <a href="login.html" th:href="@{/api/login}">[Go to Login]</a>
                </div>
            </form>
        </div>
        <footer th:replace="layout :: site-footer" />
    </body>
</html>